@import '../../variables';

a {
  text-decoration: none;
}

.channel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $color-primary;

  &:hover {
    background-color: $color-accent;
  }

  h2 {
    color: $color-white;
  }
}

.channel__icon {
  cursor: pointer;
}

.channel--withoutHover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $color-primary;

  h2 {
    color: $color-white;
  }
}