@import '../../variables';

.expense{
  display: flex;
  align-items: center;
  font-size: large;
  padding: 20px 40px;
  color: white;

  &:hover {
    background-color: $color-accent;
  }
}

.expense__user{
  display: flex;
  align-items: center;
  flex: 0.3;

  p{
    margin-left: 20px;
  }
}

.expense__total{
  flex: 0.5;
  text-align: center;
}

.expense__history{
  flex: 0.2;
  text-align: center;

  .MuiSvgIcon-root{
    cursor: pointer;
  }
}