@import '../../variables';

.button {
  font-family: $font;
  font-size: large;
  padding: 10px 25px;
  background-color: $color-accent;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: $color-accent;
  }

  &:focus {
    outline: none;
  }

  @media (max-width: $tablet) {
    font-size: medium;
  }

  @media (max-width: $mobile-L) {
    font-size: small;
  }
}

.button--secondary{
  background-color: $color-logoutBtn;
  border-radius: 3px;

  &:hover{
    background-color: $color-logoutBtnHover;
    color: white;
    opacity: 1
  }
}