@import '../../variables';

.expenseSection {
  background-color: $color-secondary;
  color: white;
  padding: 20px 0;
  margin: 20px 10px;
  border-radius: 20px;
  overflow: scroll;

  @media (max-width: $tablet) {
    margin: 10px;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.expenseSection::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.expenseSection {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.expenseHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: x-large;
  padding: 0 40px;

  @media (max-width: $tablet) {
    padding: 0 20px;
  }
}

.expenseHeader__user {
  flex: 0.3;
}

.expenseHeader__total {
  flex: 0.5;
  text-align: center;
}

.expenseHeader__history {
  flex: 0.2;
  text-align: center;
}

.historyHeader__user {
  flex: 0.3;
}

.historyHeader__total {
  flex: 0.2;
  text-align: center;
  @media (max-width: $mobile-L) {
    flex: 0.3;
  }
}

.historyHeader__timestamp {
  flex: 0.2;
  text-align: center;

  @media (max-width: $mobile-L) {
    flex: 0.4;
  }
}

.historyHeader__about {
  flex: 0.3;
  text-align: center;

  @media (max-width: $mobile-L) {
    display: none;
  }
}