@import '../../variables';

.expensePopup {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.expensePopup__userSelector {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .MuiAvatar-root {
    opacity: 0.3;
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover{
      opacity: 1
    }
  }
}

.expensePopup__expenseValue{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0.75;

  input {
    width: 50%;
    padding: 10px 25px;
    background: none;
    color: white;
    font-size: large;
    text-align: center;
    border: solid 1px $color-secondary;
    outline: none;
  }
}