@import "../../../../variables";

.expensePopup {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
}

.expensePopup__select {
  -webkit-appearance: none; /* for webkit (safari, chrome) compatibility */
  -moz-appearance: none; /* for firefox compatibility */
}

