@import "../../variables";

.sidebar {
  max-width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-secondary;
  color: $color-white;

  @media (max-width: $tablet) {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    transform: translateX(-100%);
  }
}

.sidebar--mobileOn {
  transform: translateX(0);
}

.sidebar__user {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $color-primary;

  a {
    color: $color-white;

    .MuiSvgIcon-root {
      cursor: pointer;
    }
  }
}

.sidebar__userHeader {
  display: flex;
  align-items: center;

  .sidebar__userHeader__avatar {
    margin-right: 20px;
    cursor: pointer;
  }

  h3 {
    font-size: large;
  }
}

.sidebar__selector {
  flex: 1;
}

.sidebar__chatList {
  display: flex;
  flex-direction: column;
}

.sidebar__logout {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
