@import "../../variables";

.sidebar {
  max-width: 220px;
  height: 100%;
  background-color: $color-secondary !important;
  color: $color-white !important;
  display: flex;
  flex-direction: column;
}

.sidebar--mobileOn {
  transform: translateX(0);
}

.sidebar__user {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $color-primary;

  a {
    color: $color-white;
  }
}

.sidebar__userHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .sidebar__userHeader__avatar {
    cursor: pointer;
  }

  h3 {
    font-size: large;
  }
}

.sidebar__selector {
  flex: 1;
}

.sidebar__chatList {
  display: flex;
  flex-direction: column;
}

.sidebar__logout {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
