@import '../../variables';

.history {
  display: flex;
  align-items: center;
  font-size: large;
  padding: 20px 40px;
  color: white;

  &:hover {
    background-color: $color-accent;
  }

  @media (max-width: $tablet) {
    font-size: medium;
    padding: 20px;
  }
}

.history__user {
  display: flex;
  align-items: center;
  flex: 0.3;

  p {
    margin-left: 20px;
  }
}

.history__expense {
  flex: 0.2;
  text-align: center;

  @media (max-width: $mobile-L) {
    flex: 0.3;
  }
}

.history__timestamp {
  flex: 0.2;
  text-align: center;

  @media (max-width: $mobile-L) {
    flex: 0.4;
  }
}

.history__about {
  flex: 0.3;
  text-align: center;

  @media (max-width: $mobile-L) {
    display: none;
  }
}